<div class="header">
    <a href="/">
        <div class="logo">
            <img src="assets/images/logo.svg" alt="Logo Book Ark">
        </div>
    </a>
    <div class="menu-header">

    </div>
</div>
